{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        "add-module-exports",
        "babel-plugin-transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}